.product-container{
display: block;
width: 100%;
text-align: center;
}
.product{
display: inline-block;
width: 25%;
margin: 1%;
text-align: center;
}
.p{ color: green;
    font-size: 15px;
    font-weight: bold;
    }
.strikethrough-text{
text-decoration: line-through;
color: grey;
font-weight: normal;
}
